<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      body{
        background: #dfdfdf;
      }
    </style>
  </head>
  <body>
    <div class="text-center container">
  <h1 class="h1"><%= title %></h1>
    <p class="">Welcome to <%= title %></p>
    <a class="btn btn-primary" href="/register">Register</a>
    <a class="btn btn-light" href="/login">Login</a>
    <a class="btn btn-danger" href="/logout">Logout</a>
</div>
    
  </body>
</html>
