<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi <%= email %>,</p>
        <p>You requested to reset your password.</p>
        <p> Your PIN is <%= PIN %></p>
    </body>
</html>